
#wrap {
  margin: 0;
  padding: 0;
}
header {
  height: 60px;
}
.container {
  /* 0~1400px */
  max-width: 1180px;
  height: inherit;
  margin: auto;
  font-family: "Noto Sans KR", "Noto Sans", "Titillium Web", sans-serif;
}

/* contents */
.content2 li {
  width: 33.33%;
}
.c3_left_top,
.c3_right_bottom {
  width: 60%;
}
.c3_right_top,
.c3_left_bottom {
  width: 40%;
}
