@charset "UTF-8";

/* 
@font-face {
  font-family: "Arita";
  font-style: normal;
  font-weight: 300;
  src: url(../font/AritaDotum-Light.woff) format("woff"); 
}

@font-face {
  font-family: "Arita";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Arita-dotum-Medium.woff) format("woff"); 
}

@font-face {
  font-family: "Arita";
  font-style: normal;
  font-weight: 700;
  src: url(../font/Arita-Dotum-SemiBold.woff) format("woff"); 
}

@font-face {
  font-family: "Arita";
  font-style: normal;
  font-weight: 800;
  src: url(../font/Arita-Dotum-Bold.woff2) format('woff2'), 
        url(../font/Arita-Dotum-Bold.woff) format("woff"); 
}
@font-face {
  font-family: "brandon-grotesque";
  font-style: normal;
  font-weight: 600;
  src: url(../font/3A5CB9_1_0.woff) format("woff"); }
@font-face {
  font-family: "brandon-grotesque";
  src: url(../font/HVDFonts-BrandonGrotesque-Bold.woff) format("woff"); 
  font-style: normal;
  font-weight: 700;}
 */




* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Arita", sans-serif;
  letter-spacing: -0.025em;
  color: #000;
}
body,
h1,
p,
input,
label {
  margin: 0;
  padding: 0;
  font-family: "Arita", "Noto Sans KR", "NotoSans", "Titillium Web", sans-serif;
  letter-spacing: -0.025em;
  /* font-family: "Nanum Gothic", "돋움", Dotum, Helvetica, Verdana, Arial,
    sans-serif; */
  color: #000;
}
/* ->위에 전체 선택자 설정과 동일 */
a {
  text-decoration: none;
  color: #222;
}
ul,
li,
ol {
  list-style: none;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  border: 0;
}
html {
  overflow-y: scroll;
}
