@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Arita", sans-serif;
  letter-spacing: -0.025em;
  color: #000;
}
body,
h1,
p,
input,
label {
  margin: 0;
  padding: 0;
  font-family: "Arita", sans-serif;
  letter-spacing: -0.025em;
  /* font-family: "Nanum Gothic", "돋움", Dotum, Helvetica, Verdana, Arial,
    sans-serif; */
  color: #000;
}
/* ->위에 전체 선택자 설정과 동일 */
a {
  text-decoration: none;
  color: #222;
}
ul,
li,
ol {
  list-style: none;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  border: 0;
}
html {
  overflow-y: scroll;
}
