/* header */
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header h1 a {
  display: block;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/laneige-logo.svg) no-repeat;
}
header h1 {
  padding: 13px 0 0 50px;
  width: 150px;
}
.header_area {
  height: 60px;
}
.btn ul {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 13px 50px 0 0;
}
.btn li {
  float: left;
  padding-left: 15px;
}
.btn li span:hover {
  color: #4477be;
}
.btn li span {
  font-size: 30px;
  color: #79a3dc;
  font-weight: 300;
}
.btn li:nth-child(2) span {
  font-size: 29px;
  padding-top: 1px;
}
.btn li:nth-child(3) span {
  font-size: 30px;
}
.btn li:last-child {
  display: none;
}
/* gnb */
.gnb {
  box-sizing: border-box;
}
.gnb_tit {
  font-size: 1.1rem;
  line-height: 1;
  padding: 1.2em 18px 0;
  font-weight: 200;
}
/* .gnb_tit::before{
  content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0%;
    bottom: 0;
    z-index: 102;
    height: 3px;
    margin: 0 auto;
    background-color: #000;
    transition: width .36s ease;
} */
.gnb_tit a {
  padding-bottom: 30px;
}
.gnb_depth {
  background: #f7f7f7;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 100;
  width: 100%;
  display: none;
  padding-left: 290px;
  border-top: 1px solid #ddd;
}
.gnb_depth h2 {
  padding-top: 20px;
  font-size: 14px;
  color: #5f5f5f;
  line-height: 1;
  font-weight: 300;
}
.gnb .gnb_tit:nth-child(2) .gnb_depth {
  padding-left: 28%;
}
.gnb .gnb_tit:nth-child(3) .gnb_depth {
  padding-left: 32%;
}
.gnb .gnb_tit:nth-child(4) .gnb_depth {
  padding-left: 36%;
}
.gnb .gnb_tit:nth-child(5) .gnb_depth {
  padding-left: 25%;
}
.gnb .gnb_tit:nth-child(6) .gnb_depth {
  padding-left: 25%;
}
.gnb .gnb_tit:nth-child(7) .gnb_depth {
  padding-left: 25%;
}
.gnb .gnb_tit:nth-child(8) .gnb_depth {
  padding-left: 62%;
}
.gnb .gnb_tit:nth-child(1) {
  margin-left: 12%;
}
.gnb li:hover .gnb_depth {
  display: block;
}
.gnb_depth h3 {
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #2b2b2b;
  line-height: 1;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.gnb_depth {
  z-index: 780;
}
.gnb_depth li {
  font-size: 1rem;
  padding: 17px 20px 14px;
}
.gnb_depth img {
  width: 260px;
}
.gnb_depth b {
  color: #4477be;
  font-size: 15px;
  display: block;
  margin: 20px 0 10px 0;
}
.gnb_depth2 {
  padding-right: 70px;
  width: 140px;
}
.gnb_depth2 li {
  font-size: 14px;
  padding: 0.5em 0;
  color: #5f5f5f;
  line-height: 0.94;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.overlay.show {
  opacity: 1;
  z-index: 777;
}

/* banner */
.banner {
  /* width: 100%; */
  max-width: 1920px;
  margin: auto;
}
.BannerSwiper img {
  object-fit: cover;
}
.banner_new {
  background-color: #4477be;
  font-size: 13px;
  display: inline-block;
  color: #fff;
  padding: 0 5px 3px;
  letter-spacing: 1px;
  font-weight: 300;
}
.banner_content .banner_tit {
  font-size: 2.8rem;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}
.banner_content .banner_txt {
  line-height: 1.2;
  font-size: 1.3rem;
  display: block;
  margin: 10px 0;
  font-weight: 300;
}
.banner_content .banner_tag {
  font-size: 1rem;
}

/* slide1 */
.BannerSwiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.BannerSwiper li .banner_content {
  position: absolute;
  top: 50%;
  left: 35%;
  box-sizing: border-box;
  transform: translate3d(-50%, -50%, 0);
}

/* slide2 */
.ContentSwiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* z-index: 23; */
}
.ContentSwiper .swiper-slide {
  height: calc((100% - 30px) / 2);
  width: 33.3%;
  height: auto;
  text-align: center;
}
.ContentSwiper .swiper-slide img {
  max-width: 20rem;
  max-height: 24.6875rem;
}
.ContentSwiper .swiper-slide a:hover img {
  transform: rotatez(347deg);
  display: inline-block;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #5f5f5f;
  font-size: 25px !important;
  margin-left: 35px;
}
.swiper-button-prev:after {
  margin-right: 34px;
}
.c1_bestseller-list_en {
  color: #4477be;
  font-weight: 600;
  display: block;
  letter-spacing: 1px;
  margin-top: 18px;
}
.c1_bestseller-list_kr {
  font-size: 1.1875rem;
  color: #2b2b2b;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1.3em;
  font-weight: 400;
}
.c1_bestseller-list_txt {
  color: #5f5f5f;
  font-size: 1rem;
  margin-bottom: 0.7em;
  font-weight: 300;
}
.c1_bestseller-list_id {
  display: block;
  margin-top: 0.3125rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}
.swiper-slide .material-symbols-outlined {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: 1.8em;
}
/* content1 */

.content1 video {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.content1 h2 {
  font-family: "brandon-grotesque";
  font-size: 42px;
  text-align: center;
  padding-top: 90px;
}
/* content2 */
.bg_gradient {
  background: linear-gradient(177deg, #fff, #fcf4f6, #9dc0ed, #fcf4f6);
}
.content2_area {
  margin-top: 200px;
}
.content2_area a img {
  width: 100%;
}
.content2_area li {
  padding-left: 45px;
  margin: 0 auto;
  /* margin: 0 0 50px 40px; */
  box-sizing: border-box;
  position: relative;
}
.content2_area li:first-child {
  margin: 0 0 50px 0;
}
.c2_sub_tit {
  display: block;
  margin-top: 0.9em;
  margin-bottom: 0.3em;
  color: #2b2b2b;
  font-size: 1.1875rem;
  font-weight: 500;
}
.c2_txt {
  /* color: #5f5f5f; */
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 26px;
}

/* content3 */
.content3 h3,
.content2 h3 {
  position: absolute;
  color: #4477be;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  transform-origin: 0;
  transform: rotate(270deg) translate(-100%, -100%);
  top: -0.9375rem;
}

.content3_area {
  margin-top: 150px;
}
.content3_area li {
  padding-left: 45px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.content3_area span {
  font-size: 1.1875rem;
  display: block;
  margin-top: 0.9em;
  margin-bottom: 0.3em;
  color: #2b2b2b;
  font-weight: 500;
}
.content3_area p {
  /* color: #5f5f5f; */
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 26px;
}
.content3_area li a img {
  /* box-sizing: border-box;
    position: relative; */
  width: 100%;
}
.content3_area .c3_left_bottom {
  margin-bottom: 50px;
}
.content3_area .c3_right_bottom {
  margin: 120px 0 50px;
}
/* footer */
footer {
  background: #fff;
  border-top: 1px solid #ddd;
}
.footer_top {
  display: block;
  height: 40px;
}
.ft_left li {
  float: left;
  padding: 10px;
  margin-left: 20px;
  font-size: 0.93rem;
}
.ft_left li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.ft_right {
  position: relative;
  left: 1011px;
  top: -43px;
  width: 300px;
}
.ft_right li {
  float: left;
}
.ft_right img {
  padding: 10px;
}
.fb_left {
  position: relative;
  left: 0;
  margin-top: 20px;
  font-weight: 300;
}
.fb_left p:first-child {
  position: relative;
  left: -181px;
}
.fb_left p:nth-child(2) {
  position: relative;
  left: -146px;
}
.fb_left p:last-child {
  font-size: 14px;
}
.fb_left img {
  width: 72px;
  position: relative;
  left: -114px;
  top: -12px;
}
.footer_bottom {
  padding-bottom: 100px;
  border-top: 1px solid #ddd;
}
.to_top {
  position: fixed;
  right: 30px;
  bottom: 112px;
  text-align: center;
  z-index: 100;
}
.to_top a {
  display: block;
  width: 45px;
  height: 45px;
  border-left: none;
  border-bottom: none;
}
.to_top a span {
  font-size: 38px;
  color: #79a3dc;
}
.to_top span:hover {
  color: #4477be;
}

/* ========
 MEDIA QUERY
========== */
@media screen and (min-width: 1275px) and (max-width: 1425px) {
  .gnb .gnb_tit:nth-child(1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 1274px) {
  .gnb {
    display: none;
  }
  .btn li:first-child,
  .btn li:nth-child(2) {
    display: none;
  }
  .btn li:last-child {
    display: inline-block;
  }
}
@media screen and (max-width: 900px) {
  .content2_area li {
    width: 100%;
    padding: 0 80px 50px 100px;
  }
  .content3_area li {
    width: 100%;
    padding: 0 70px 50px 90px;
  }
  .to_top {
    position: fixed;
    right: 10px;
    bottom: 112px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #79a3dc;
    z-index: 100;
  }
  .to_top a {
    display: block;
    width: 45px;
    height: 45px;
    border-left: none;
    border-bottom: none;
  }
  .to_top a span {
    color: #fff;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: -5px;
  }
  .banner_content {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 0 0 30px;
  }
  .banner_content .banner_tit {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    margin-top: 10px;
  }
  .banner_content .banner_txt {
    line-height: 1.2;
    font-size: 1rem;
    display: block;
    margin: 10px 0;
    font-weight: 300;
  }
  .banner_content .banner_tag {
    font-size: 0.8rem;
  }
  .BannerSwiper li .banner_content {
    position: absolute;
    top: 28%;
    left: 46%;
  }
}
