/* header */
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header h1 a {
  display: block;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/laneige-logo.svg) no-repeat;
}
header h1 {
  padding: 13px 0 0 50px;
  width: 150px;
}
.header_area {
  height: 60px;
}
.btn ul {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 13px 50px 0 0;
}
.btn li {
  float: left;
  padding-left: 15px;
}
.btn li span:hover {
  color: #4477be;
}
.btn li span {
  font-size: 30px;
  color: #79a3dc;
  font-weight: 300;
}
.btn li:nth-child(2) span {
  font-size: 29px;
  padding-top: 1px;
}
.btn li:nth-child(3) span {
  font-size: 30px;
}
.btn li:last-child {
  display: none;
}
/* gnb */
.gnb {
  box-sizing: border-box;
}
.gnb_tit {
  font-size: 1.1rem;
  line-height: 1;
  padding: 1.2em 18px 0;
  font-weight: 200;
}
/* .gnb_tit::before{
  content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0%;
    bottom: 0;
    z-index: 102;
    height: 3px;
    margin: 0 auto;
    background-color: #000;
    transition: width .36s ease;
} */
.gnb_tit a {
  padding-bottom: 30px;
}
.gnb_depth {
  background: #f7f7f7;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 100;
  width: 100%;
  display: none;
  padding-left: 290px;
  border-top: 1px solid #ddd;
}
.gnb_depth h2 {
  padding-top: 20px;
  font-size: 14px;
  color: #5f5f5f;
  line-height: 1;
  font-weight: 300;
}
.gnb .gnb_tit:nth-child(2) .gnb_depth {
  padding-left: 28%;
}
.gnb .gnb_tit:nth-child(3) .gnb_depth {
  padding-left: 32%;
}
.gnb .gnb_tit:nth-child(4) .gnb_depth {
  padding-left: 36%;
}
.gnb .gnb_tit:nth-child(5) .gnb_depth {
  padding-left: 25%;
}
.gnb .gnb_tit:nth-child(6) .gnb_depth {
  padding-left: 25%;
}
.gnb .gnb_tit:nth-child(7) .gnb_depth {
  padding-left: 25%;
}
.gnb .gnb_tit:nth-child(8) .gnb_depth {
  padding-left: 62%;
}
.gnb .gnb_tit:nth-child(1) {
  margin-left: 12%;
}
.gnb li:hover .gnb_depth {
  display: block;
}
.gnb_depth h3 {
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #2b2b2b;
  line-height: 1;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.gnb_depth {
  z-index: 780;
}
.gnb_depth li {
  font-size: 1rem;
  padding: 17px 20px 14px;
}
.gnb_depth img {
  width: 260px;
}
.gnb_depth b {
  color: #4477be;
  font-size: 15px;
  display: block;
  margin: 20px 0 10px 0;
}
.gnb_depth2 {
  padding-right: 70px;
  width: 140px;
}
.gnb_depth2 li {
  font-size: 14px;
  padding: 0.5em 0;
  color: #5f5f5f;
  line-height: 0.94;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.overlay.show {
  opacity: 1;
  z-index: 777;
}

/* sub_page */
.top_nav {
  font-size: 13px;
  display: block;
  margin: 12px 51px;
  color: #5f5f5f;
  font-weight: 100;
}
.top_nav b {
  font-weight: 500;
}
.top_nav a:hover {
  text-decoration: underline;
}
#contents h2 {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 36px 0;
  font-weight: 400;
  color: #222;
}
.event_tabs {
  display: block;
  text-align: center;
  font-size: 1.0625rem;
  padding: 13px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3.75rem;
}
.event_tabs a {
  padding: 0.7em 1.5em;
}
.event_tabs a:first-child {
  color: #5f5f5f;
  margin-right: 60px;
}
.event_tabs a:first-child:hover {
  border-bottom: 2px solid #5f5f5f;
}
.event_tabs a:last-child {
  font-weight: bold;
  border-bottom: 2px solid #222;
}
.event_main_area li {
  position: relative;
  width: 33.3%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3.75rem;
}
.event_main_area li img {
  width: 100%;
}
.event_main_area p {
  padding: 0.9375rem 0 0.4rem 0;
  font-size: 1rem;
  font-weight: 300;
}
.event_main_area span {
  color: #5f5f5f;
  font-size: 0.875rem;
  padding-bottom: 0.9375rem;
  display: block;
}
.page_numbers {
  display: block;
  text-align: center;
  margin: 0 0 65px;
}
.page_numbers span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
}
.page_numbers span a:hover {
  text-decoration: underline;
}
.page_number01 {
  background: #2b2b2b;
  font-weight: 500;
  margin-right: 10px;
}
.page_number01 a {
  color: #fff;
}
.page_number02 {
  color: #2b2b2b;
}
/* footer */
footer {
  background: #fff;
  border-top: 1px solid #ddd;
}
.footer_top {
  display: block;
  height: 40px;
}
.ft_left li {
  float: left;
  padding: 10px;
  margin-left: 20px;
  font-size: 0.93rem;
}
.ft_left li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.ft_right {
  position: relative;
  left: 1011px;
  top: -43px;
  width: 300px;
}
.ft_right li {
  float: left;
}
.ft_right img {
  padding: 10px;
}
.fb_left {
  position: relative;
  left: 0;
  margin-top: 20px;
  font-weight: 300;
}
.fb_left p:first-child {
  position: relative;
  left: -181px;
}
.fb_left p:nth-child(2) {
  position: relative;
  left: -146px;
}
.fb_left p:last-child {
  font-size: 14px;
}
.fb_left img {
  width: 72px;
  position: relative;
  left: -114px;
  top: -12px;
}
.footer_bottom {
  padding-bottom: 100px;
  border-top: 1px solid #ddd;
}
.fb_right{
  position: relative;
 left: 920px;
 top: -77px;
}
.lang_select{
  display: inline-block;
  width: 260px;
  border: 1px solid #2b2b2b;
  box-sizing: border-box;
  padding: 10px 14px;
}
.lang_select option{
  font-size: 16px;
  padding: 12px 14px;
}

.to_top {
  position: fixed;
  right: 50px;
  bottom: 112px;
  text-align: center;
  background: none;
  z-index: 100;
}
.to_top a {
  display: block;
  width: 45px;
  height: 45px;
  border-left: none;
  border-bottom: none;
}
.to_top a span {
  font-size: 38px;
  color: #79a3dc;
}
.to_top span:hover {
  color: #4477be;
}
